# List of upstream repos upstream_sync.py should sync
#
# [repo-name]
# url = rsync://example.net/<distro>/<release>/<arch>/<repo>
# path = <distro>/<release>/<arch>/<repo>
# createrepo = [true|false] default: false
# copylinks = [true|false] default: false
#
# url: supported protocols are rsync, http, https, and rhn
# path: location to store files, relative to /data/mirror/upstream
# createrepo: run createrepo after repository is synced
# copylinks: transform symlink into referent file/dir (rsync only)
# exclude: comma seperated list of file patterns to exclude (rsync only)
#

# Red Hat OpenStack
[rhos-6.0-x86_64-os]
url = https://cdn.redhat.com/content/dist/rhel/server/7/7Server/x86_64/openstack/6.0/os
path = rhos/6.0/x86_64/os
sslcacert = /mirror/certs/redhat-uep.pem
sslcert   = /data/mirror/certs/rhos.pem
sslkey    = /data/mirror/certs/rhos.pem
createrepo = true


## rhel7 x86_64
[rhel-7-x86_64-os]
url = https://cdn.redhat.com/content/dist/rhel/server/7/7Server/x86_64/os
path = rhel/7/x86_64/os
sslcacert = /data/mirror/certs/redhat-uep.pem
sslcert   = /data/mirror/certs/rhel-server.pem
sslkey    = /data/mirror/certs/rhel-server.pem
createrepo = true


## rhel6 x86_64
[rhel-6-x86_64-updates]
url = https://cdn.redhat.com/content/dist/rhel/server/6/6Server/x86_64/os
path = rhel/6/x86_64/updates
sslcacert = /data/mirror/certs/redhat-uep.pem
sslcert   = /data/mirror/certs/rhel-server.pem
sslkey    = /data/mirror/certs/rhel-server.pem
createrepo = true

## centos x86_64
[centos-6.6-x86_64-updates]
url = rsync://rsync.gtlib.gatech.edu/centos/6.6/updates/x86_64/Packages/
path = centos/6.6/x86_64/updates
createrepo = true

[centos-5.11-x86_64-updates]
url = rsync://rsync.gtlib.gatech.edu/centos/5.11/updates/x86_64/RPMS/
path = centos/5.11/x86_64/updates
createrepo = true

## epel
[epel-5-x86_64]
url = rsync://rsync.gtlib.gatech.edu/fedora-epel/5/x86_64/
path = el/5/x86_64/epel
exclude = /debug/

[epel-6-x86_64]
url = rsync://rsync.gtlib.gatech.edu/fedora-epel/6/x86_64/
path = el/6/x86_64/epel
exclude = /debug/

[epel-7-x86_64]
url = rsync://rsync.gtlib.gatech.edu/fedora-epel/7/x86_64/
path = el/7/x86_64/epel
exclude = /debug/

